/*-------------------------------------------------
   VARIABLES: choose the colors of your banner
-------------------------------------------------*/

$main-color: #5270FE;
$background-color: #263238;
$discourse_vector: '../assets/discourse_vector.svg';
$discourse_ama_icon: '../assets/discourse_ama_icon.svg';
$discourse_taxesaresimple_icon: '../assets/discourse_taxesaresimple_icon.svg';
$discourse_taxtales_icon: '../assets/discourse_taxtales_icon.svg';

/*---------------------------------------
   SECTION:  BOXES
-----------------------------------------*/

.section-header {
    padding-bottom: 20px;
    h2 {
        margin-bottom: 20px;
    }
}

.banner-box {
    margin-bottom: 18px;
    background-color: $background-color; /* to be sure that even if the image above will not be loaded there will be at least a colored background */
}

// .x-title {
//     padding-left: 15px;
//     padding-right: 15px;
//     padding-top: 15px;
//     text-align: center;
//     color: $main-color;
// }

// .description p {
//     margin-bottom: 10px;
//     padding-left: 15px;
//     padding-right: 15px;
//     text-align: center;
// }

// .banner-box .single-box {
//     padding-bottom: 20px;
//     .x-icon {
//         font-size: 70px;
//     }
// }


// //COLUMNS MANAGEMENT

// .col3 {
//     width: 30%;
//     float: left;
//     position: relative;
//     min-height: 1px;
//     padding-left: 15px;
//     padding-right: 15px;
// }

// .col2 {
//     width: 45%;
//     float: left;
//     position: relative;
//     min-height: 1px;
//     padding-left: 15px;
//     padding-right: 15px;
// }

// .col4 {
//     width: 22.5%;
//     float: left;
//     position: relative;
//     min-height: 1px;
//     padding-left: 15px;
//     padding-right: 15px;
// }

// .container::after, .row::after {
//     clear: both;
// }

// .col2, .col3, .col4 {
//     text-align: center;
// }

// .row::after {
//     content: " ";
//     display: table;
// }

// //ICON AND BOX HEADING COLOR

// .banner-box .single-box .x-icon, .single-box h3 {
//     color: $main-color;
// }

// //BOX HEADING POSITIONING

// .banner-box .single-box h3 {
//     margin-top: 20px;
//     text-align: center;
// }

// //COLORED LINE

// .colored-line {
//     margin: auto;
//     width: 165px;
//     height: 1px;
//     background: $main-color;
// }

// //SINGLE BOX, TEXT ALIGNMENT

// .box p {
//     text-align: center;
// }

// //TEXT ALIGNMENT INSIDE BUTTONS

// #my-button {
//     text-align: center;
//     padding-bottom: 5px;
// }

// //IMAGE SIZE AS ICON SIZE

// .responsive-img {
//     border-style: none;
//     border-width: 1px;
//     height: 70px;
//     background-size: cover;
//     background-position: center center;
//     background-repeat: no-repeat;
// }

// //LIST ALIGNMENT

// .feature-list {
//     text-align: center;
//     list-style-type: none;
// }


// //BUTTON BACKGROUND

// .col2, .col3, .col4 {
//     .btn.btn-icon-text.ember-view {
//         background: $main-color;
//     }
// }

// //CLOSE BUTTON ON THE TOP RIGHT

// .banner-box .close {
//     border: none;
//     background: transparent;
//     padding-top: 5px;
//     float: right;
// }

// //MAKE IT A FULL WIDTH BANNER

// .banner-box .container {
//     max-width: 70%;
//     margin: 0 auto;
// }
// .banner-box {
//     margin-left: calc(-50vw + 50%);
//     margin-right: calc(-50vw + 50%);
    
// }
// #main-outlet {
//     padding-top: 64px; /*this value must be changed if the height of the header has been changed*/
// }
// .navigation-container,
// .alert.alert-info {
//     margin-top: 18px;
//     margin-bottom: 0px;
// }


@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.banner {
    background-color: #263238;
    color: #ffffff;
    width: 100% !important;
}

.container {
  padding: 0;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  z-index: 100;
}

.headline {
    font-size: 36px;
}

.body-1 {
    font-size: 16px;
}

.body-1 {
    font-size: 18px;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}

.pd64-T {
    padding-top: 64px;
}

.pd16-T {
    padding-top: 16px;
}

.pd32-B {
    padding-bottom: 32px;
}

.column {
  float: left;
  width: 30%;
  margin-right: 16px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row-main:after {
  content: "";
  display: table;
  clear: both;
}


.c20 {
    float: left;
	width: 20% !important;
}


.c80 {
    float: left;
	width: 80% !important;
	
}

.vector {
    background-image: url($discourse_vector);
	background-position: bottom;
	background-size: cover;
	height: 100%;
	display: block;
	width: 100%;
}

.icon-1 {
    background-image: url($discourse_taxesaresimple_icon);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	height: 100%;
	display: block;
}

.icon-2 {
    background-image: url($discourse_ama_icon);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	height: 100%;
	display: block;
}

.icon-3 {
    background-image: url($discourse_taxtales_icon);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	height: 100%;
	display: block;
}